/*Centralização do titulo*/
div.form-element.form-group.schema-form-title.schema-form-h1 {
    display: flex;
    align-items: center; /* alinha o h1 verticalmente */
    height: 100%;
}

div[key="titulo"] {
    width: 100%;
}

div[key="titulo"] h1.ng-binding {
    text-align: center;
    width: 100%;
    word-break: break-word;
    white-space: normal;
}

/* Estilização dos alertas */
[fd-element="alert"] .alert {
    background: linear-gradient(90deg, #0861a4, #0b90d2, #0ebeff);
    color: #003366;
    border: none;
}

/* Estilização dos botões de upload */
button[file-upload-multiple] {
    background: #00838F;
    color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
