/*Centralização do titulo*/
/* Centralizar o título horizontal e verticalmente dentro da coluna do título */
div[key="titulo"] {
    width: 100%;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
}

/* Ajuste no h1 para evitar margens e garantir quebra de palavra */
div[key="titulo"] h1.ng-binding {
    margin: 0;
    text-align: center;
    word-break: break-word;
    white-space: normal;
}

/* Estilização dos alertas */
[fd-element="alert"] .alert {
    background: linear-gradient(90deg, #0861a4, #0b90d2, #0ebeff);
    color: #003366;
    border: none;
}

/* Estilização dos botões de upload */
button[file-upload-multiple] {
    background: #00838F;
    color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
